body{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.831);
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    display: block;
    margin: 20px auto;
    padding: 10px;
    min-width: 40%;
    font-size: larger;
    background-color: white;
}
button{
    /* display: block; */
    margin: 20px 60px;
    padding: 15px;
    color:#ffffff;
    background-color: rgb(76, 76, 76);;
    border:none;
    font-size: larger;
}
button:hover{
    cursor: pointer;
    background-color: black;
    color:#ffffff;
    border: 2px solid;
}
h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 50px;
}
h2{
    text-transform: capitalize;
}
.reminder-list{
    text-align: center;
}
.reminder-list-item{
    padding: 5px 10px;
    margin: 5px auto;
    max-width: 50%;
    background-color: rgba(0, 0, 0, 0.14);
}
.reminder-list-item:hover{
    cursor: pointer;
    color: rgba(255, 166, 0, 0.526);
}
a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }
.buttons{
    width: 90%;
    padding:50px;
    margin: 10px auto auto 0;
    display: flex;
    justify-content: center;
}